<%= simple_form_for(@finished_cake) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :cake_name %>
    <%= f.input :cake_type %>
    <%= f.input :description %>
    <%= f.input :completed_at, include_blank: true %>
    <%= f.input :servings %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
